/* .deleted_nav{
    background-color: rgba(6, 2, 39, 0.616);
    
}
.deleted_nav .nav{
    color: white;
    text-decoration: none;
    padding: 2px;
    margin: 4px
}
.deleted_nav .nav:hover{
    color: rgb(101, 213, 247);
    transition: 0.5s;
}
.deleted_nav div div{
    display: flex;
} */

/* body{
    color: rgb(151, 255, 151);
} */
